    @font-face {
        font-family: 'Opun';
        src: url('fonts/Opun-Regular.woff2') format('woff2'),
        url('Opun-Regular.woff') format('woff'),
        url('Opun-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        body {
          font-family: 'Opun' !important;
          background-color: white;
          text-align: center;
          color: black;
        }

        h1 {
        font-family: 'Opun', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
        }

        h2 {
        font-family: 'Opun', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
        }

        h3 {
        font-family: 'Opun', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
        }

        h4 {
        font-family: 'Opun', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
        }

        h5 {
        font-family: 'Opun', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
        }

        p {
        font-family: 'Opun', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
        }