.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #ffffff;
  font-family: Noto Sans Thai;
}
.navigation-links-text1 {
  color: #ffffff;
  font-family: Noto Sans Thai;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  color: #ffffff;
  font-family: Noto Sans Thai;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  color: #ffffff;
  font-family: Noto Sans Thai;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  color: #ffffff;
  font-family: Noto Sans Thai;
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #0a1229;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-icon {
  fill: #ffffff;
  width: 72px;
  height: 45px;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text {
  color: rgb(255, 255, 255);
  font-family: Prompt;
  letter-spacing: 10px;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.home-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container3 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-container4 {
  width: 100%;
  height: 204px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  font-size: 20px;
  font-family: Prompt;
}
.home-text03 {
  font-style: normal;
  font-weight: 700;
}
.home-text04 {
  font-family: Noto Sans Thai;
  padding-top: var(--dl-space-space-unit);
}
.home-text05 {
  font-family: Noto Sans Thai;
}
.home-text06 {
  font-family: Prompt;
}
.home-text07 {
  font-family: Noto Sans Thai;
}
.home-text08 {
  font-family: Prompt;
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  width: 1200px;
  height: 486px;
  align-self: center;
  object-fit: cover;
}
.home-container6 {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
  object-fit: cover;
}
.home-text10 {
  font-family: Noto Sans Thai;
}
.home-text12 {
  font-family: Prompt;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .home-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-nav {
    display: none;
  }
  .home-icon02 {
    display: flex;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text10 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text10 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
