@font-face {
    font-family: 'Opun';
    src: url('Opun-Regular.woff2') format('woff2'),
        url('Opun-Regular.woff') format('woff'),
        url('Opun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

